<div class="teaser--large">
	{% if kitten.teaserimage %}
		<image class="teaser__image" src="{{ kitten.teaserimage }}" alt="{{ kitten.brand }} {{ kitten.type }}" />
	{% endif %}
	<span class="teaser__brand">{{ kitten.brand }}</span>
	<span class="teaser__type">{{ kitten.type }}</span>
	<span class="teaser__copy">{{ kitten.teasertextshort }}</span>
	<a href="page" class="button--small">Check out this cat</a>
</div>