<a href="page" class="teaser--small">
	{% if kitten.teaserimage %}
		<image class="teaser__image"
			src="{{ kitten.teaserimage }}"
			alt="{{ kitten.name }} {{ kitten.type }}" />
	{% endif %}
	<span class="teaser__description">
		<span class="teaser__name">{{ kitten.name }}</span>
		<span class="teaser__type">{{ kitten.type }}</span>
	</span>
</a>